body {
  font-family: Sans-Serif;
  color: #303030;
}

a:link {
    text-decoration: none;
    color: inherit;
}
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
a:active {
    text-decoration: none;
    color: inherit;
}

table {
  width:100%;
}
table, th, td {
  border: 1px solid #333;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
table.item-table {
  box-shadow: 5px 5px 5px rgba(0,0,0, .2);
  background-color: #E0E0E0;
}
table.item-table tr:nth-child(even) {
  background-color: #E0E0E0;
}
table.item-table tr:nth-child(odd) {
  background-color: #F7F7F7;
}
table.item-table th {
  background-color: #333;
  color: white;
}