body {
  font-family: Sans-Serif;
  color: #303030;
}

a:link {
    text-decoration: none;
    color: inherit;
}
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
a:active {
    text-decoration: none;
    color: inherit;
}

table {
  width:100%;
}
table, th, td {
  border: 1px solid #333;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}

table.nav, th.nav, td.nav {
  border: hidden;
  text-align:center;
}
th.fill, td.fill {
  width: 50%;
}

main.pad-100 {
  padding-top: 100px;
}

main.pad-50 {
  padding-top: 50px;
}

table.item {
  box-shadow: 5px 5px 5px rgba(0,0,0, .2);
  background-color: #DDD;
}
table.item tr:nth-child(even) {
  background-color: #DDD;
}
table.item tr:nth-child(odd) {
  background-color: #BBB;
}
table.item th {
  background-color: #333;
  color: white;
}
table.item td.item {
  text-align: center;
}

td.link {
  cursor: pointer;
}
td.link:hover {
  background-color:#FFF;
  opacity: 0.75;
}

td.pos {
  color: #080;
  background-color:#CFC;
}

td.neg {
  color: #C00;
  background-color:#FCC;
}

tr.year {
  font-weight: bold;
}

div.nav {
  position: fixed;
}

div.msg {
  text-align: center;
  margin: auto;
  width: 80%;
  padding: 20px;
}

div.box {
  background: #EEE;
  border: 1px solid #777;
  box-shadow: 5px 5px 5px rgba(0,0,0, .2);
}

div.red {
  color: red;
}

p.black {
  color: #333;
}