body {
  font-family: Sans-Serif;
  color: #303030;
}

.hue-180 {
  filter: hue-rotate(180deg);
}

.hue-200 {
  filter: hue-rotate(200deg);
}

.hue-220 {
  filter: hue-rotate(220deg);
}

.gray {
  filter: grayscale(1);
}

a:link {
  text-decoration: none;
  color: inherit;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
  opacity: 0.5;
  text-decoration: none;
  color: inherit;
}
a:active {
  text-decoration: none;
  color: inherit;
}

table {
  width: 100%;
}
table, th, td {
  border: 1px solid #333;
  border-collapse: collapse;
}

table.item td, table.item th {
  padding: 5px;
  text-align: left;
}

table.rule td, table.rule th {
  padding: 5px;
  text-align: left;
}

table.nav td, table.nav th {
  padding: 5px;
  text-align: center;
}

table.nav, th.nav, td.nav {
  border: hidden;
}

table.form, th.form, td.form, tr.form {
  border: hidden;
  text-align: left;
  vertical-align: bottom;
}

.fill, .fill {
  width: 10000px;
}

.pad-100 {
  padding-top: 100px;
}

.mar-50 {
  margin-top: 50px;
}

.mar-20 {
  margin-top: 20px;
}

.marb-20 {
  margin-bottom: 20px;
}

.mar-5 {
  margin-top: 5px;
}

table.item, table.rule {
  box-shadow: 5px 5px 5px rgba(0,0,0, .2);
  background-color: #DDD;
}

table.item tr.unassigned:nth-child(even), table.rule tr.unassigned:nth-child(even) {
  background-color: #FFC;
}
table.item tr.unassigned:nth-child(odd), table.rule tr.unassigned:nth-child(odd) {
  background-color: #FFA;
}

table.item tr.issue:nth-child(even), table.rule tr.issue:nth-child(even) {
  background-color: #FCC;
}
table.item tr.issue:nth-child(odd), table.rule tr.issue:nth-child(odd) {
  background-color: #FBB;
}

table.item tr:nth-child(even), table.rule tr:nth-child(even) {
  background-color: #CCE;
}
table.item tr:nth-child(odd), table.rule tr:nth-child(odd) {
  background-color: #BBE;
}

table.item tr.pos:nth-child(even), table.rule tr.pos:nth-child(even) {
  background-color: #CFC;
}
table.item tr.pos:nth-child(odd), table.rule tr.pos:nth-child(odd) {
  background-color: #AFA;
}

table.item tr.neg:nth-child(even), table.rule tr.neg:nth-child(even) {
  background-color: #FCC;
}
table.item tr.neg:nth-child(odd), table.rule tr.neg:nth-child(odd) {
  background-color: #FBB;
}

table.item th, table.rule th {
  background: linear-gradient(180deg, #55A 0%, #337 65%, #448 100%); 
  color: white;
}

table.err {
  border: hidden;
  background: none;
}

table.err td {
  border: hidden;
  font-weight: bold;
}

table.err td.err {
  color: #F00;
}

table.err td.warn {
  color: #DB0;
}

td.link, tr.link {
  cursor: pointer;
}
td.link:hover, tr.link:hover {
  background: linear-gradient(180deg, #FFF 0%, #FFB 65%, #FFC 100%); 
  opacity: 0.5;
}

td.pos {
  color: #080;
}

td.neg {
  color: #D00;
}

td.pos-bg1 {
  background-color: #CEC;
}

td.pos-bg0 {
  background-color: #AEA;
}

td.neg-bg1 {
  background-color: #ECC;
}

td.neg-bg0 {
  background-color: #EBB;
}

tr.year {
  font-weight: bold;
}

div.nav {
  width: calc(100% - 18px);
  position: fixed;
}

div.msg {
  text-align: center;
  width: 80%;
  padding: 20px;
}

div.box {
  margin: auto;
  background: linear-gradient(180deg, #EEF 0%, #CCF 65%, #DDF 100%); 
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0, .2);
}

div.red {
  color: red;
}

td.center {
  text-align: center;
}

p.black {
  color: #333;
}

h2 {
  padding-bottom: 8px;
}

h3 {
  padding-bottom: 12px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px;
}

textarea {
  padding: 5px;
}

input[type=text], textarea {
  width: 100%;
  font-size: medium;
  border: 1px solid #333;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
  box-shadow: 5px 5px 5px rgba(0,0,0, .2);
}

input.rule[type=text] {
  height: 100%;
  border: 0px solid #333;
  box-shadow: none;
  padding: 5px;
}

input[type=text]:focus {
  background-color: #EEF;
}

input.filter {
  background-image: url('48-search.png');
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 30px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.mono {
  font-family: 'Courier New', Courier, monospace;
}

input.form[type=text] {
  padding: 5px;
}

input[type=submit], div.button {
  background: linear-gradient(180deg, #55A 0%, #337 65%, #448 100%); 
  color: white;
  text-align: center;
  width: 120px;
  line-height: 40px;
  white-space: nowrap;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0,0,0, .2);
  transition-duration: 0.4s;
}

input[type=submit]:hover, div.button:hover {
  opacity: 0.5;
}

label { 
  display: block;
}

@keyframes blink-bg {
  0% {background-color: white;}
  50% {background-color: #CFC;}
  100% {background-color: white;}
}

.blink-once {
  background-color: white;
  animation-name: blink-bg;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}